# ------------------------
# Logs
# ------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ------------------------
# Dependencies / Builds
# ------------------------
node_modules/
dist/
dist-ssr/
*.local

# ------------------------
# Python
# ------------------------
# Virtual environments
.venv/
venv/
ENV/
env/
venv.bak/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Distribution / packaging
*.egg-info/
.eggs/
build/
develop-eggs/
.installed.cfg

# ------------------------
# Environments
# ------------------------
.env
.env.local
.env.*.local

# ------------------------
# IDEs and Editors
# ------------------------
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints
